//  Grid Variables

$grid-columns: 12 !default;
$grid-gutter-width: 2rem !default;
$grid-row-columns: 6 !default;

$gutters: $spacers !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 826px,
  lg: 992px,
  xl: 1200px,
) !default;
